<h1><%= ENV['PAYEE_NAME'] %></h1>

<nav><a href="<%= ENV['PAYEE_SITE_URL'] %>"><%= ENV['PAYEE_SITE'] %></a> &gt; Pay Me</nav>

<%= form_tag thanks_path do %>
  <div>
    <label>Your email: <input type="email" name="email" value="<%= params[:email] %>" required></label>
  </div>
  <div>
    <label>Amount: $<input type="number" name="amount" value="<%= params[:amount] %>" min="5" max="9999" step="0.01" size="4" required></label>
  </div>

  <button class="pay-with-card" type="submit">Pay with Card</button>
<% end %>

<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script>
  $(function () {
    $('form').submit(function () {
      if($('input[name="stripeToken"]').length < 1) {
        var token = function(res){
          var $input = $('<input type=hidden name=stripeToken />').val(res.id);
          $('button.pay-with-card').attr('disabled', 'disabled');
          $('form').append($input).submit();
        };

        StripeCheckout.open({
          key:         '<%= Rails.configuration.stripe[:publishable_key] %>',
          amount:      Math.round(100 * $('input[name="amount"]').val()),
          name:        'Pay @<%= ENV['PAYEE_TWITTER'] %>',
          panelLabel:  'Pay',
          token:       token
        });

        return false;
      }
    });
  });
</script>
